.navbar a {
  text-decoration: none;
  color: rgb(209, 209, 209);
  transition: 0.5s;
  width: 50px;
  min-width: fit-content;

  text-align: center;
}
.navbar a:hover {
  color: white;
  width: 100px;
}
.navbar {
  background-color: black;
  padding: 10px;
  /*display:flex*/
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
